@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar{
    background-image: radial-gradient(circle at 0.2% 0.5%, rgb(252, 165, 241) 0%, rgb(181, 255, 255) 100.2%);
    margin: 10px;
    border-radius: 10px;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover{
    color: #000;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #ff6699;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}

.title{
    font-style: italic;
    font-weight: bold;
}